.vscode/**
.vscode-test/**
.gitignore
.yarnrc
.eslintrc.json
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
node_modules/**
test.env
example/**
CHECKLIST.md
RELEASE.md
CONTRIBUTING.md
INSTALL.md
resources/*.svg
*.log
.DS_Store


